@import "@/style/_base";
main {
    .board {
        padding: 30px;
        width: 90%;
        height: 50%;
        background-color: black;
        margin: 40px auto;
        color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;

        // .board {
        //     width: 90%;
        //     height: 50%;
        //     background-color: black;
        //     margin: 40px auto;
        //     color: white;
        //     display: flex;
        //     flex-wrap: wrap;
        //     flex-direction: row-reverse;
        //     position: relative;
        .black {
            background-color: black;
            color: black;
        }
        .material-icons {
            font-size: 1.3rem;

            // &:hover {
            //     cursor: pointer;
            // }
        }
        .seats-row {
            margin: auto;

            //    .seat-col {
            //     span:not(.black):hover {
            //         cursor: pointer;
            //     }
            //    }
            .seat-col {
                span:not(.black) span:hover {
                    cursor: pointer;
                }
            }
        }

        .seats-group {
            width: 80%;
        }

        .seat-details {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .checkout-btn {
            margin-top: 10px;
            width: 60%;
            background-color: cornflowerblue;
            border-radius: 3px;
            border: 0px;
            padding: 5px;
            font-weight: bold;
            color: white;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            .black {
                background-color: black;
                color: black;
            }
            .material-icons {
                font-size: 1.3rem;
            }
            .seats-row {
                margin: auto;
            }

            &:hover {
                cursor: pointer;
            }
        }
        // }

        //       .black{
        //          color: black;
        //       }
        //       .seats-row{
        //          margin: auto;
        //       }
        //       .material-icons{
        //          font-size: 1.3rem;
        //       }
        //       .seats-group {
        //             width: 80%;
        //       }
    }
    .confirm-popup {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 200px;
        border-radius: 3px;
        background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: black;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .close-btn {
            // align-self: flex-end;
            padding: 5px;
            // margin: 2px 2px 2px 5px;
            margin: 2px 0 2px 2px;
            border-radius: 3px;
            &:hover {
                cursor: pointer;
                background-color: rgba(222, 184, 135, 0.815);
                color: #ffffff;
            }
        }
    }
    .info {
        margin: 0 auto;
        background-color: rgb(187, 187, 187);
        width: 600px;
        height: 60px;
        display: flex;
        justify-content: space-around;
        font-size: 1.4rem;
        & > * {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        & .available {
            color: #fff;
        }
    }
    .select {
        color: rgb(230, 77, 77);
    }
    .unAvailable {
        color: rgb(92, 92, 92);
    }
}
